/* COMMON STYLES */
:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --accent-color-transparent: rgba(33, 150, 243, 0.9);
  --accent-color-extra: #188ce8;
  --background-light-color: #f5f4fa;
  --background-dark-color: #2f303a;
  --option-light-color-a: #ececec;
  --option-light-color-b: #eeeeee;
  --grey-color: #afb1b8;
  --link-background-color: rgba(255, 255, 255, 0.1);
  --footer-form-color: rgba(255, 255, 255, 0.3);
  --black-color: #000000;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --modal-close-button-border-color: rgba(0, 0, 0, 0.1);
  --operations-background: rgba(47, 48, 58, 0.8);
  --placeholder-grey-color: rgba(117, 117, 117, 0.5);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Section */
.section {
  padding-top: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--primary-text-color);
  font-family: roboto, raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Header */
header {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--option-light-color-a);
}

.header {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  height: 80px;
}

/* General navigation in header */
.header__navigation {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  color: var(--title-text-color);
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo--accent {
  color: var(--accent-color);
}

.logo--inverse {
  color: var(--white-color);
}

/* Site navigation */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link-current {
  position: relative;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link-current::after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* Contacts */
.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

/* Footer */
footer {
  color: var(--white-color);
  background-color: var(--background-dark-color);
}

.footer {  
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: baseline;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: inherit;
  margin-top: 20px;
}

.address__location {
  color: var(--white-color);
  text-decoration: none;
}

.address__link {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.address__contacts {
  margin-top: 9px;
  display: block;
}

.address__item + .address__item {
  margin-top: 9px;
}

.join {
  margin-left: 70px;
}

.join__title {
  font-style: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join__list {
  display: flex;
  margin-top: 20px;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  color: var(--white-color);
  border-radius: 50%;
  background-color: var(--link-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__social:hover,
.join__social:focus {
  background-color: var(--accent-color);
}

.join__icon {
  fill: currentColor;
}

.subscribe {
  margin-left: 93px;
}

.subscribe__title {
  font-style: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribe__form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.subscribe__input {
  background-color: var(--background-dark-color);
  display: flex;
  box-sizing: border-box;
  color: var(--white-color);
  font-style: inherit;
  font-size: 16px;
  line-height: 1.25;
  padding-right: 16px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid var(--footer-form-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: none;
}

.subscribe__input::placeholder {
  font-style: inherit;
  font-size: 16px;
  line-height: 1.25;
}

/* FOOTER BUTTON */
.footer__button {
  display: inline-flex;
  color: var(--white-color);
  background-color: var(--accent-color);
  width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px;
  margin-left: 12px;
  cursor: pointer;
}

.send-icon {
  fill: currentColor;
  margin-left: 10px;
}

/* Visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN PAGE STYLES */

/* Hero */
.hero {
  text-align: center;
  height: 600px;
  overflow: hidden;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--background-dark-color);
}

.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
}

/* Button */
.hero__button {
  display: inline-block;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  margin-top: 30px;
  cursor: pointer;
}

/* BACKDROP */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 528px;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

.backdrop__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
  background-color: var(--white-color);
  height: 30px;
  width: 30px;
  border: 1px solid var(--modal-close-button-border-color);
  border-radius: 50%;
}

.backdrop__close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__close:hover .backdrop__close-icon,
.backdrop__close:focus .backdrop__close-icon {
  fill: var(--accent-color);
}

/* textarea {
  resize: none;
} */

.form {
  padding: 40px;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__icon {
  position: absolute;
  display: flex;
  height: 18px;
  width: 18px;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  margin-left: 12px;
  transform: translateY(-11px);
  color: var(--title-text-color);
  background-color: inherit;
}

.form__svg {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.form__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  padding-left: 42px;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within > .form__input {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form__field:focus-within .form__svg {
  fill: var(--accent-color);
}

.comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.comment__textarea {
  resize: none;
  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--black-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment__textarea::placeholder {
  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-grey-color);
}

.comment__textarea:focus-within {
  border: 1px solid var(--accent-color);
  outline: none;
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.policy__checkbox {
  appearance: none;
  position: absolute;
}

.policy__link {
  text-decoration: none;
  color: var(--accent-color);
}

.policy__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-color: var(--white-color);
  background-image: url(../images/check-none.svg);
  border-radius: 4px;
}

.policy__checkbox:checked .policy__icon {
  display: none;
}

.policy__checkbox:checked + .policy__icon {
  background-color: var(--accent-color);
  background-image: url(../images/check-filled.svg);
  background-size: contain;
  background-origin: border-box;
}

/* SUBMIT BUTTON */
.backdrop__submit {
  display: flex;
  color: var(--white-color);
  background-color: var(--accent-color);
  width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  justify-content: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__submit:hover,
.backdrop__submit:focus {
  background-color: var(--accent-color-extra);
}

/* Advantages */
.advantages {
  padding-top: 94px;
}

.advantages__container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.advantages__list {
  display: flex;
}

.advantages__image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  border: none;
  color: var(--grey-color);
  background-color: var(--background-light-color);
}

.advantages__item {
  width: 270px;
}

.advantages__item + .advantages__item {
  margin-left: 30px;
}

.advantages__title {
  margin-top: 30px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages__text {
  margin-top: 10px;
}

/* Operations */
.operations {
  padding-top: 94px;
  padding-bottom: 94px;
}

.operations__container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.operations__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.operations__list {
  display: flex;
  margin-top: 50px;
}

.operations__item + .operations__item {
  margin-left: 30px;
}

.operations__item {
  position: relative;
}

.operations__overlay {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--operations-background);
}

/* Team */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-light-color);
}

.team__container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.team__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team__list {
  display: flex;
  margin-top: 50px;
}

.team__item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team__item + .team__item {
  margin-left: 30px;
}

.team__member {
  background-color: var(--white-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding: 30px 20px;
}

.team__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__position {
  margin-top: 10px;
}

.team__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  margin-top: 16px;
  padding: 0;
}

.team__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  color: var(--grey-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social:hover,
.team__social:focus {
  background-color: var(--accent-color);
}

.team__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social:hover .team__icon,
.team__social:focus .team__icon {
  fill: var(--white-color);
}

/* Clients */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.clients__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients_link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 170px;
  height: 90px;
  color: var(--grey-color);
  border: 1px solid var(--grey-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients_link:hover,
.clients_link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients_link:hover .clients__icon,
.clients_link:focus .clients__icon {
  fill: var(--accent-color);
}

/* PORTFOLIO STYLES */

/* Button */
.portfolio__button {
  display: inline-block;
  color: var(--title-text-color);
  background-color: var(--background-light-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover,
.portfolio__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__selector + .portfolio__selector {
  margin-left: 8px;
}

/* Portfolio layout */
.portfolio__set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio__item {
  flex-basis: calc(100% / 3) - 30px;
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color-transparent);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__text {
  color: var(--white-color);
  margin: 24px;
  font-size: 18px;
  line-height: 1.56;
}

.portfolio__item:hover .card__overlay {
  transform: translateY(0);
}

.card {
  display: block;
  text-decoration: none;
  color: inherit;
}

.card__content {
  background-color: var(--white-color);
  padding: 20px 24px;
  border: 1px solid var(--option-light-color-b);
  border-top: hidden;
}

.card__name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  margin-bottom: 4px;
}

.card__group {
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
}
