header {
  background-color: $white;
  border-bottom: 1px solid $light-option-a;
}

.header {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  height: 80px;

  &__navigation {
    display: flex;
    align-items: center
  }
}
